body,
* {
    font-family: "Inter", sans-serif;
}

header {
    /* height: 13vh; */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.06);
}

header > div {
    display: flex;
    align-items: center;
}

.sitelogo {
    width: 18.3%;
    border-right: 0.5px solid #f8f8f8;
    margin-right: 20px;
}

.sitelogo img {
    width: 100%;
}

.search-main {
    position: relative;
    width: 16%;
}

.search-main input {
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 10px 25px 10px 10px;
    width: 100%;
}

.search-main img {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 20px;
}

.header-notifications {
    width: 65.7%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
}

.header-notifications img,
.filter {
    padding: 8px;
    background: #eee;
    border-radius: 4px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

body img,
.map-vectors > svg {
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 18%;
    padding-left: 40px;
    padding-top: 20px;
    gap: 15px;
    border-right: 1px solid #eee;
}

.sidebar a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #535353;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.sidebar a svg {
    padding: 8px;
    background: #eee;
    border-radius: 8px;
    box-sizing: content-box;
}

.sidebar a:hover,
.sidebar a:active {
    color: #000;
    font-weight: 500;
}

.page-content {
    display: flex;
    height: 76vh;
}

.content-main {
    width: 82%;
    background: #f8f9fa;
    padding: 40px;
    overflow-y: scroll;
}

/* Dashboard content area */

.dashboard h3 {
    font-size: 24px;
    color: #000;
}

.sales-main-graph,
.sales-record-main {
    display: flex;
    gap: 1.5%;
}

.sales-main-graph > div,
.region-map-main,
.sales-record-main > div {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
    /* height: fit-content; */
    border: 1px solid #ddd;
}

.content-main > div {
    margin-top: 20px;
}

.sales-main-graph .wd-sm {
    width: 30%;
}

.graph-section-icons,
.sales-resp {
    display: flex;
    justify-content: space-between;
}

.sales-main-graph .wd-bg {
    width: 40%;
}

.calendar {
    background: #686868;
    padding: 5px;
    border-radius: 8px;
}

.filter {
    height: 37px;
}

.sales-year {
    font-size: 32px;
    font-weight: 500;
    color: #8c8c8c;
    margin: 15px 0px;
}

.sales-amount {
    font-size: 32px;
    color: #000;
    text-align: right;
    font-weight: 700;
}

.sales-resp h4 {
    font-size: 16px;
    color: #4d4d4d !important;
}

.sales-resp p {
    font-size: 12px;
}

.sales-resp h3 {
    font-weight: 700;
}

/* .region-map-main {
  margin-top: 20px;
} */

.region-map {
    display: flex;
    align-items: center;
}

.sales-by-region {
    width: 79%;
}

.region-map > div:last-of-type {
    width: 5%;
}

.region-map > div:last-of-type img {
    float: right;
}

.sales-by-region h3 {
    font-size: 18px;
}

.map-vectors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-vectors > svg:last-of-type {
    position: relative;
    right: 47px;
    bottom: 87px;
}

.top-representatives {
    width: 60%;
}

.sales-record {
    width: 40%;
}

.search-employee {
    width: 30% !important;
}

.filter-employee {
    width: 10% !important;
}

.representativesales {
    width: 60% !important;
}

.dental-offices {
    width: 40% !important;
}

.category-search > select {
    padding: 5px;
    font-weight: 500;
    background: #eee;
    border: none;
    border-radius: 4px;
}

.category-table {
    width: 100%;
    /* border-top: 1px solid #d4d4d4; */
}

.category-table tr > td:first-of-type {
    width: 9%;
}

.category-table tr > td:first-of-type img,
.dental-office-name-img img {
    padding: 8px;
    background: #eee;
    border-radius: 50%;
}

.dental-office-name {
    width: 35%;
}

.email-button a {
    float: right;
}

.email-button button {
    border: 1px solid #717171;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
}

.email-button button img {
    margin-right: 5px;
}

.dental-offices-main > div {
    padding: 0px !important;
}

.dental-offices-main > div > div {
    padding: 12px !important;
}

.category-table-main {
    border-top: 1px solid #d4d4d4;
    height: 350px;
    overflow-y: scroll;
}

.category-table td {
    padding-bottom: 15px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 20rem;
}

/* ::-webkit-scrollbar-track {
  background: rgb(13, 13, 13);
  border-color: rgb(13, 13, 13);
} */

.footer-copyright {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.dental-category {
    display: flex;
    padding-left: 20px;
}

.add-dental-button {
    width: 40% !important;
}

.add-dental-button button {
    float: right;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: 500;
}

.dental-office-dashboard {
    overflow: hidden !important;
}

.dental-office-parent {
    margin: 20px 0px;
    display: flex;
}

.dental-table-main {
    border: unset !important;
}

.dental-office-table-main {
    display: flex;
    align-items: center;
}

.dental-office-search {
    background-color: unset;
}

/* .dental-office-content {
    overflow: hidden;
} */

.dental-table-header {
    font-size: 15px;
    font-weight: 600;
}

.dental-table-main table {
    background-color: #fff;
    border: 1px solid #dddddd;
}

.dental-table-main tr {
    border-bottom: 1px solid #dddddd;
}

.dental-table-main td {
    padding: 10px;
    /* padding: 20px; */
}

.dental-office-table {
    width: 100%;
}

.dental-office-table tr > td:first-of-type {
    width: 6%;
    font-weight: 600;
    padding-left: 20px;
}

.dental-office-name-img {
    display: flex;
    /* width: 100%; */
    gap: 10px;
    align-items: center;
}

.dental-office-name-img h6 {
    margin-top: 10px;
}

.dental-table-main .email-button a {
    float: left !important;
}

.dental-table-main tr td:last-of-type a {
    color: #767676;
}

.main-pagination {
    display: flex;
    padding: 20px 0px;
    align-items: center;
}

.main-pagination > div:first-of-type {
    width: 40%;
}

.pagination {
    /* width: 60%; */
    border-radius: 4px;
    border: 1px solid #e4e3e4;
    background: #fff;
}

.pagination a {
    padding: 12px;
    text-decoration: none;
    /* background: #fff; */
    font-size: 14px;
    color: #767676;
}

.pagination a:hover,
.pagination a:active {
    background: #eee;
    color: #1d1d1d;
    font-weight: 600;
}

.form-office-main {
    display: flex;
    gap: 7%;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.form-office-main > div:not(.text-area-parent) {
    width: 46.5%;
}

.form-office-main > div {
    display: flex;
    flex-direction: column;
}

.form-office-main label {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.form-office-main input,
.form-office-main textarea {
    border: 1px solid #eee;
    border-radius: 4px;
    /* font-size: 14px; */
    padding: 10px;
}

.form-office-modal-footer {
    justify-content: center !important;
    border: none !important;
}

.form-office-modal-footer button {
    background: #eee;
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px;
    width: 50%;
}

.text-area-parent {
    width: 100%;
    margin-top: 20px;
}

.description-textarea {
    height: 150px;
    resize: none;
}

.form-office-modal-dialog .close:focus {
    outline: none !important;
}

.form-office-modal-dialog .modal-header {
    border-bottom: 2px solid #d9d9d9 !important;
}

@media (min-width: 576px) {
    .form-office-modal-dialog {
        max-width: 700px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
    .search-main {
        width: 61.7%;
    }
    .search-main > input {
        width: 40% !important;
        float: right;
    }
    .header-notifications {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .page-content {
        height: unset !important;
        flex-direction: column;
    }
    .sidebar span {
        font-size: 15px !important;
    }
    .page-content > div {
        width: 100%;
    }
    .sidebar {
        flex-direction: row;
        padding-bottom: 20px;
    }
    header {
        padding: 10px 0px;
    }
    .sales-year,
    .sales-amount {
        font-size: 22px;
    }
    .search-employee input {
        width: 100% !important;
    }
    .dental-office-name h5 {
        font-size: 16px !important;
    }
    .sidebar,
    .content-main {
        padding: 20px 10px 20px 20px !important;
    }
}

@media screen and (max-width: 767px) {
    .sitelogo {
        width: 30%;
    }
    .search-main {
        width: 40% !important;
    }
    .search-main > input {
        width: 100%;
    }
    .header-notifications {
        width: 30%;
        gap: 5px !important;
    }
    /* .sidebar,
    .content-main {
        padding: 20px 10px 20px 20px !important;
    } */
    .sales-main-graph,
    .sales-record-main {
        flex-direction: column;
        gap: 10px;
    }
    .sales-main-graph .wd-sm,
    .sales-main-graph .wd-bg,
    .top-representatives,
    .sales-record {
        width: 100%;
    }
    .sales-by-region {
        width: 46% !important;
    }
    .region-map > div:last-of-type {
        width: 14% !important;
    }
    .map-vectors > svg {
        width: 80%;
    }
    .map-vectors > svg:last-of-type {
        right: 37px;
        bottom: 177px;
    }
    .sales-by-region h3 {
        font-size: 16px !important;
    }
    .add-dental-button button {
        font-size: 14px;
    }
    .add-dental-button {
        width: 47% !important;
        /* margin-top: 20px; */
    }
    .dental-office-table-main {
        flex-wrap: wrap;
        gap: 20px;
    }
    .category-search {
        width: 45% !important;
    }
    .category-search select {
        float: right;
    }
    .dental-search {
        width: 100% !important;
    }
    .email-button button {
        display: flex;
        align-items: center;
    }
    .dental-table-main tr td:last-of-type a {
        font-size: 14px;
    }
    .dental-office-parent {
        flex-wrap: wrap !important;
        gap: 20px;
    }
    .dental-office-parent > div:first-of-type {
        width: 100% !important;
    }
    .dental-category {
        width: 47% !important;
        padding-left: 0px;
    }
    .dp-none {
        display: none;
    }
    .dental-office-name-img h6 {
        font-size: 13px !important;
    }
    .dental-office-name h5 {
        font-size: 13px !important;
        padding-top: 20px;
        padding-left: 10px;
    }
    .category-table tr > td:first-of-type {
        padding-top: 20px;
    }
    .main-pagination {
        gap: 15px;
        flex-direction: column;
    }
    .main-pagination > div {
        width: unset !important;
    }
    .form-office-main {
        flex-direction: column;
    }
    .form-office-main > div:not(.text-area-parent) {
        width: 100%;
    }
}

/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */
